.skill-container {
  display: flex;
  gap: 0.5em;
}

.form__btn--delete-skill {
  margin-bottom: 0;
}

@media (min-width: 900px) {
  .form__label--skill + .form__label--skill {
    margin-top: 1em;
  }
}
