:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --background-col: #242424;
  --text-col: rgba(255, 255, 255, 0.87);
  --form-background-col: #4b4b4b;
  --form-border-col: #3b3b3b;
  --form-input-background-col: var(--form-border-col);
  --form-input-border-col: var(--background-col);
  --form-btn-background-col: var(--text-col);
  --form-btn-text-col: var(--background-col);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.6;
}
