:root {
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --background-col: rgb(36, 36, 36);
  --text-col: rgba(255, 255, 255, 0.87);

  --header-background-col: rgb(20, 20, 20);

  --link-col: rgb(198, 22, 214);
  --link-col-hover: rgb(162, 21, 175);
  --link-col-active: rgb(160, 52, 170);
  --link-col-visited: rgb(129, 17, 139);

  --form-background-col: rgb(75, 75, 75);
  --form-border-col: rgb(59, 59, 59);
  --form-input-background-col: var(--form-border-col);
  --form-input-border-col: var(--background-col);
  --form-btn-background-col: var(--text-col);
  --form-btn-text-col: var(--background-col);
  --form-error-col: rgb(247, 80, 80);

  --preview-background-col: rgb(255, 255, 255);
  --preview-font-col: rgb(0, 0, 0);
  --preview-main-accent-col: rgb(91, 3, 99);
  --preview-alt-accent-col: rgb(5, 70, 114);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.6;
}
